{% extends "layout.html" %}
{% block content %}
<h2> Tambahkan Data Gejala Dermatitis Imun </h2>
<form method="post" action="{{url_for('submitGejala')}}">
    <fieldset class="form-group">
        <dir class="form-group">
            <label class="form-control-label">Gejala</label> <br>
            <input type="text" id="gejala" name="gejala" class="form-control form-control-lg">
            <br>
            <input type="submit" id="submitGejala" name="submitGejala" class="btn btn-secondary">
        </dir>   
    </fieldset>
</form>
{% endblock content %}